<h1>Reservations listt</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="reservations">
  <thead>
    <tr>
      <th>Room</th>
      <th>Guest</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ reservations.room.number }}</td>
      <td>{{ reservations.guest.name }}</td>
      <td>{{ reservations.checkinDate }}</td>
      <td>{{ reservations.checkoutDate }}</td>
    </tr>
  </tbody>
</table>
