<h1>Reservations list</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="reservations">
  <thead>
    <tr>
      <th>Room</th>
      <th>Guest</th>
      <th>Date checked in</th>
      <th>Date check out</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.room.number }}</td>
      <td>{{ reservation.guest.name }}</td>
      <td>{{ reservation.checkinDate  | date: 'dd.MM.yyyy'}}</td>
      <td>{{ reservation.checkoutDate | date: 'dd.MM.yyyy'}}</td>
    </tr>
  </tbody>
</table>
